* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #212529;
  overflow-x: hidden;
}
input {
  padding: 5px;
  margin-top: 10px;
  border-radius: 4px;
  border-color: white;
  width: 100%;
}
button {
  padding: 10px 34px;
  margin-top: 10px;
}
.container {
  width: 20%;
  margin: 0 auto;
  margin-top: 150px;
}
#icon {
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
}
